@media only screen and (max-width:1140px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 450px;
    }
    .rightNav{
        text-align: center;
    }
    .boxmain{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .boxmain img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .hnavres{
        height: 68px;
    }
    .vclassres{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .textbig{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .contact{
        padding: 150px;
    }
}