

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
}

.navlist{
    width: 70%;
    display: flex;
    align-items: center;
}

.navlist li {
    list-style: none; 
    padding: 26px 30px;
    font-size: 19px;
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navlist li a:hover {

    color: red;
}

.rightNav{
    width: 30%;
    text-align: right;
    justify-content: center;
    padding: 0 30px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('/images/a.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.boxmain{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.secondhalf{
    width: 30%;
}

.secondhalf img{
    width: 150%;
    border: 3px solid white;
    display: block;
    margin: 53px 30px;
}

.textbig{
    font-size: 40px;
}

.textsmall{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 13px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: center;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: sans-serif;
    padding: 10px;
}

.secleft{
   flex-direction: row-reverse;
}

.paras{
    padding: 0 65px;
}

.sectiontag{
    padding: 16px 0;
}

.sectionsubtag{
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail img{
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 15px;
}

.contact{
    background-color: #f6f5f4;
    height: 95vh;
}

.textcenter{
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 40px;
}

.form{
    max-width: 65%;
    margin: 25px auto;
}

.form-input{
    width: 100%;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid grey;
    margin: 15px 0;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
    background: white;
}

.textfooter{
    text-align: center;
    font-family: sans-serif;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}



  